# Data Platform Team Co-op Case Study

In [73]:
import pandas as pd

In [74]:
# Data given
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'

In [92]:
# Split into rows
rows = data.split('\n')
rows

['Airline Code;DelayTimes;FlightCodes;To_From',
 'Air Canada (!);[21, 40];20015.0;WAterLoo_NEWYork',
 '<Air France> (12);[];;Montreal_TORONTO',
 '(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa',
 '12. Air France;[78, 66];;Ottawa_VANcouvER',
 '""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal',
 '']

In [77]:
# Split into columns
def clean_cols(rows):
    lst = []
    for r in range(len(rows)):
        lst.append(rows[r].split(';'))
    return lst

col_header = clean_cols(rows)[0]
pre_df_data = clean_cols(rows)[1:len(rows)-1]

In [78]:
# List of column headers
col_header

['Airline Code', 'DelayTimes', 'FlightCodes', 'To_From']

In [79]:
# Dataset
pre_df_data

[['Air Canada (!)', '[21, 40]', '20015.0', 'WAterLoo_NEWYork'],
 ['<Air France> (12)', '[]', '', 'Montreal_TORONTO'],
 ['(Porter Airways. )', '[60, 22, 87]', '20035.0', 'CALgary_Ottawa'],
 ['12. Air France', '[78, 66]', '', 'Ottawa_VANcouvER'],
 ['""".\\.Lufthansa.\\."""', '[12, 33]', '20055.0', 'london_MONTreal']]

## Step 1: Obtain a readable dataframe

In [80]:
df1 = pd.DataFrame(data=pre_df_data, columns=col_header)
df1

            Airline Code    DelayTimes FlightCodes           To_From
0         Air Canada (!)      [21, 40]     20015.0  WAterLoo_NEWYork
1      <Air France> (12)            []              Montreal_TORONTO
2     (Porter Airways. )  [60, 22, 87]     20035.0    CALgary_Ottawa
3         12. Air France      [78, 66]              Ottawa_VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]     20055.0   london_MONTreal

In [81]:
# Check datatype
df1.dtypes

Airline Code    object
DelayTimes      object
FlightCodes     object
To_From         object
dtype: object

## Step 2: Split the To_From column into two and clean the data

In [82]:
# Splitting To_From column into two
df2 = df1.copy()
df2[['City', 'Province']] = df2['To_From'].str.split("_", 1, expand=True)
df2 = df2.drop('To_From', axis=1)
df2

C:\Users\User\AppData\Local\Temp\ipykernel_44252\2247351141.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df2[['City', 'Province']] = df2['To_From'].str.split("_", 1, expand=True)

            Airline Code    DelayTimes FlightCodes      City   Province
0         Air Canada (!)      [21, 40]     20015.0  WAterLoo    NEWYork
1      <Air France> (12)            []              Montreal    TORONTO
2     (Porter Airways. )  [60, 22, 87]     20035.0   CALgary     Ottawa
3         12. Air France      [78, 66]                Ottawa  VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]     20055.0    london   MONTreal

In [83]:
# Convert cases into capital
df2[['City', 'Province']] = df2[['City', 'Province']].apply(lambda x: x.str.upper())
df2

            Airline Code    DelayTimes FlightCodes      City   Province
0         Air Canada (!)      [21, 40]     20015.0  WATERLOO    NEWYORK
1      <Air France> (12)            []              MONTREAL    TORONTO
2     (Porter Airways. )  [60, 22, 87]     20035.0   CALGARY     OTTAWA
3         12. Air France      [78, 66]                OTTAWA  VANCOUVER
4  """.\.Lufthansa.\."""      [12, 33]     20055.0    LONDON   MONTREAL

## Step 3: Fill in missing values into FlightCodes column and convert column into int

In [84]:
# Filling in missing values
df3 = df2.copy()
df3.loc[1, 'FlightCodes'] = 20025.0
df3.loc[3, 'FlightCodes'] = 20045.0
df3

            Airline Code    DelayTimes FlightCodes      City   Province
0         Air Canada (!)      [21, 40]     20015.0  WATERLOO    NEWYORK
1      <Air France> (12)            []     20025.0  MONTREAL    TORONTO
2     (Porter Airways. )  [60, 22, 87]     20035.0   CALGARY     OTTAWA
3         12. Air France      [78, 66]     20045.0    OTTAWA  VANCOUVER
4  """.\.Lufthansa.\."""      [12, 33]     20055.0    LONDON   MONTREAL

In [87]:
# Convert column into an integer column
df3['FlightCodes'] = df3['FlightCodes'].astype(float).astype(int)
df3

            Airline Code    DelayTimes  FlightCodes      City   Province
0         Air Canada (!)      [21, 40]        20015  WATERLOO    NEWYORK
1      <Air France> (12)            []        20025  MONTREAL    TORONTO
2     (Porter Airways. )  [60, 22, 87]        20035   CALGARY     OTTAWA
3         12. Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4  """.\.Lufthansa.\."""      [12, 33]        20055    LONDON   MONTREAL

## Step 4: Clean the FlightCodes column

In [90]:
# Remove any numbers or punctuation and trim column
df4 = df3.copy()
df4['Airline Code'] = df4['Airline Code'].str.replace(r'[^A-Za-z ]', '')
df4

C:\Users\User\AppData\Local\Temp\ipykernel_44252\2266501962.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df4['Airline Code'] = df4['Airline Code'].str.replace(r'[^A-Za-z ]', '')

      Airline Code    DelayTimes  FlightCodes      City   Province
0      Air Canada       [21, 40]        20015  WATERLOO    NEWYORK
1      Air France             []        20025  MONTREAL    TORONTO
2  Porter Airways   [60, 22, 87]        20035   CALGARY     OTTAWA
3       Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4        Lufthansa      [12, 33]        20055    LONDON   MONTREAL